.quizz__container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.rafa {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
    text-decoration: none;
    background-color: #654ED2;
    border-radius: 8px;
    padding: 10px;

}

.rafa:hover {
    cursor: pointer;    
    position: relative;
    bottom: 3px;
}

.quizz_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quizz_logo > h3 {
    margin-top: 20px;
    text-align: center;
}

.quizz-questions {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #4224d9;
    border-radius: 8px;
    background-color: #654ED2;
    width: 100%;
    height: 200px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.quizz_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.btn-option {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #18ab29;
    width: 48%;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin: 5px;
}

.btn-option:hover {
    background-color: #5cbf2a;
}

.btn-option:active {
    position: relative;
    top:1px;
}

.quizz_results {
    width: 100%;
    height: 350px;
    background-color: rgb(33, 2,57);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}